<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </head>

    <div class="modal fade" id="delete">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <span class="close" data-dismiss="modal">&times;</span>
                  <h4 class="modal-title">Delete driver</h4>
              </div>
              <div class="modal-body">
                Enter Vehicle ID: <input type="number" name="vehicleId" [(ngModel)]="vehicleId">
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-sm" (click)="onClickMe()" data-dismiss="modal">Delete</button>
               </div>
          </div>
      </div>
    </div>
  
    <div class="jumbotron text-center" color = "pink">
     
        <h1>MOVING MADE EASY!</h1>
        <p>Drivers in {{manager.managerBranch}}</p>  
      </div>
    <div class="container">  
  
      <table class = "table table-bordered table-striped table-hover table-sm" style="text-align: center;">
          <thead>
              <tr>
                <th style="text-align: center;">Name</th>
                <!--<th style="text-align: center;">Branch</th>-->
                <th style="text-align: center;">Phone</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Salary</th>
                <th style="text-align: center;">Vehicle Id</th>
                <th style="text-align: center;">Vehicle Type</th>
                <th style="text-align: center;">Vehicle charges</th>
                <th style="text-align: center;">Delete</th>
                <!--<th style="text-align: center;">Manager Id</th>-->
              </tr>
          </thead>
          <tr *ngFor="let driver of drivers">
            <td>{{driver.driverName}}</td>
            <!--<td>{{driver.driverBranch}}</td>-->
            <td>{{driver.driverPhone}}</td>
            <td>{{driver.driverStatus }}</td>
            <td>{{driver.salary | currency : 'INR'}}</td>            
            <td>{{driver.vehicleId }}</td>
            <td>{{driver.vehicleType }}</td>
            <td>{{driver.vehicleCharges | currency : 'INR'}}</td>
            <td><button (click)="deleteEmp(driver)"  class = "glyphicon glyphicon-trash"  data-toggle="modal" data-target="#delete"></button></td>
            
          </tr>
        </table>
      </div>