

<div class="jumbotron text-center">
     
    <h1>MOVING MADE EASY!</h1>
    <p>Welcome {{ manager.managerName }}</p>  
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>
          <form (ngSubmit)="seeAllRequests()">
            <button class = "btn btn-info btn-lg" style = "width:200px;" (click)="loginUser()"><h1>See all requests</h1></button>
          </form>
      
      <br>
  
      <form (ngSubmit)="getAllDriversBranchwise()">
        <button class = "btn btn-info btn-lg" style = "width:200px;" style = "width:200px;" (click)="loginUser()"><h1>Driver details</h1></button>
      </form>
  
      <br>
      <form (ngSubmit)="addDriver()">
        <button class = "btn btn-info btn-lg" style = "width:200px;" style = "width:200px;" (click)="loginUser()"><h1>Add driver</h1></button>
      </form>
     
      <br>
      <form (ngSubmit)="changeDriverStatus()">
        <button class = "btn btn-info btn-lg" style = "width:200px;" (click)="loginUser()"><h1>Deallocate driver</h1></button>
      </form>
      <br>
      <button class = "btn btn-info btn-lg" style = "width:200px;" (click)="logout()"><h1>Logout</h1></button>
      
      
  </h2>
        </div>
        <div class="media border p-3">
          <img src="assets\images\packers.png" alt="Moving made easy" >
        </div>
      
      
    </div>
  </div>