<div class="jumbotron text-center">
     
    <h1>MOVING MADE EASY!</h1>
    <p>Add Driver {{manager.managerBranch}} </p>  
</div>

<div class="row justify-content-center">
   <!-- <div class="col-md-6">-->
    <div class="card">
        <header class="card-header">
            <h3 class="card-title mt-2">Driver registration</h3>
        </header>
    <article class="card-body">
        <form  #RegisterForm= "ngForm" (ngSubmit)="RegisterDriver(RegisterForm)">
           <h4> <div class="col form-group">
                <label>Name </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                  <input type="text" name = "custName" [(ngModel)] = 'driver.driverName' placeholder="">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label>Mobile</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" name = "custPhone" [(ngModel)] = 'driver.driverPhone' placeholder=" ">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                    <label>Vehicle number</label>   &nbsp;
                      <input type="number" name = "vehicleId" [(ngModel)] = 'driver.vehicleId'>
            </div>		       
        <div class="col form-group">
            <label>Vehicle type</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select id="inputState" name = "vehicleType" [(ngModel)] = 'driver.vehicleType'>
              <option>Preferred vehicle type</option>
                <option>Tempo</option>
                <option>Truck</option>
            </select>
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Vehicle charges </label>   &nbsp;
              <input type="text" name = "vehicleCharges" [(ngModel)] = 'driver.vehicleCharges' placeholder="">
        </div> <!-- form-group end.// -->     
        
        <div style="text-align: center;">
            <button class="btn btn-info btn-lg" (click)="RegisterDriver(RegisterForm)"> Register  </button>
        </div></h4>
    </form>
    </article>
    </div>
   <!-- </div>-->
</div>



